*{
    outline: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialised; 
}




body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./waterfal.jpeg);
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    margin: 0;
    width: 100%;
    height: 100vh;

}
@media  screen and (max-width:480px) {
    body{
        padding: 0.8 em;
    }
}
main{
    background-color: rgb(255 255 /31%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 2250PX;
    width: 100%;
    height:100vh;
    border-radius: 10px;
    backdrop-filter: blur(40px);
    font-weight: 500;
    padding: 1rem 1rem 2rem 1rem;
    overflow: auto;
}

main::-webkit-scrollbar{
    display: none;
    
}
.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1.5px solid rgb(15, 14, 14);
    position: static;
}

.navBar>h1,.navBar> .navMenu{
    margin: 10px;
}
.navMenu > a{
    padding: 5px 10px;
    margin-left: 10px;
    text-decoration: none;
    color:black ;
    display: inline;
}

.navMenu >a:hover{
    transition: ease-in-out 300ms;
    background: white;
}

@media only screen and (max-width: 700px) {
    .navMenu{
        display: none;
    }
}
.heroSection{
margin: 2rem 0;
width: 100%;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-evenly;

}
.profileImage{
    width:350px;
    height:350px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;

    
}
.profileImage img{
    position: relative;
    right: 100cm;

}
.heroSectionDetails >h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    margin:10px;

}

.aboutMe{
    margin: 1rem;
    text-align: center;
    font-size: larger;
}
.skills img{
 display: -moz-grid;
 flex-wrap: wrap;
 align-content: center;
 justify-content: center;
 background-color: rgb(255 255 255 /31%);
 border: 1px solid rgb(255 255 255 /31%);
border-radius: 3px;
padding: 1 rem;
margin-bottom: ;
}
.skills,{
    font-size: 50px;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    grid-row: 3;
  
}
.skills img{
    width: 200px;
    height: 200px;
    padding: 45px;
    justify-content: space-between;
}
.projects{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;


}
.project>img{
    width: 350px;
    height: 350px;
}

.projects a{
    text-decoration: none;
    color: blue;
}


.aboutMe p{
    font-size: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

.aboutMe{
    background: rgb(255 255 255 /31%);
}


.project p{
    font-size: 25px;
}
.projectHeading {
    color: yellow ;
    font-size: 20px;
}
.profileHeading{
    color: deeppink;
}
.job {
    color: aquamarine;
    text-align: center;
}